@model IList<DataBase.Storage.Entity.Group>

	 <img style="position: absolute; width: 18%; height: 23%; left: 1%; top: 2%;" 
		 src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 51%;height: 15%;left: 20%;top: 7%;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 230%;line-height: 115%;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form action="https://localhost:7009/students/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 20%;">
            Студенты
        </button>
    </form>
    <form action="https://localhost:7009/groups/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 27%;">
            Группы
        </button>
    </form>
    <form action="https://localhost:7009/disciplines/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 33%;">
            Дисциплины
        </button>
    </form>
    <form action="https://localhost:7009/departments/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 42%;">
            Кафедры
        </button>
    </form>
    <form action="https://localhost:7009/specialitys/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 49%;">
            Специальности
        </button>
    </form>
    <form action="https://localhost:7009/teachers/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 60%;">
            Преподаватели
        </button>
    </form>

    <img style="position: absolute;width: 100%;height: 3%;left: 0%;top: 28%;"
         src="~/Pictures/линии.jpg">

	<div style="position: absolute; top: 33%;">
        @using (Html.BeginForm("Create", "Groups", FormMethod.Get))
		{
			<textarea placeholder="Название группы" cols="18" rows="1"name="Name"></textarea>
			<textarea placeholder="Направление" cols="20" rows="1"name="Orientation"></textarea>
			<textarea placeholder="Кол-во студентов" cols="17" rows="1" name="NumberOfStudents"></textarea>
			<select style="position: absolute; height: 30px; top: -1.5%; left: 89%;" name="SpecialityIdString" >
            @foreach (var Speciality in ViewBag.Specialitys)
            {
                <option value = "@Speciality">@Speciality</option>
            }
            </select>
			<button style="position: absolute; background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%; top: -1%; left: 150%;" type="submit">ДОБАВИТЬ</button>
		}
		@using(Html.BeginForm("Delete", "Groups", FormMethod.Post))
		{
        <textarea placeholder="Введите ID" cols="10" rows="1" name="id"></textarea>
        <button style="position: absolute; background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%; top: 32%; left: 19%;" type="submit">УДАЛИТЬ</button>
        }
        @using(Html.BeginForm("Edit", "Groups", FormMethod.Post))
		{
			<textarea placeholder="ID" cols="5" rows="1"name="IdString"></textarea>
			<textarea placeholder="Название группы" cols="18" rows="1"name="Name"></textarea>
			<textarea placeholder="Направление" cols="20" rows="1"name="Orientation"></textarea>
			<textarea placeholder="Кол-во студентов" cols="17" rows="1" name="NumberOfStudents"></textarea>
			<select style="position: absolute; height: 30px; top: 66%; left: 101%;" name="SpecialityIdString" >
            @foreach (var Speciality in ViewBag.Specialitys)
            {
                <option value = "@Speciality">@Speciality</option>
            }
            </select>
			<button style="position: absolute; background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%; top: 66%; left: 162%;" type="submit">РЕДАКТИРОВАТЬ</button>
		}
     </div>


	<div style="position: absolute; top: 48%;">
     <table border="1" cellpadding="10" cellspacing="10" style="border: 1% solid black">
		<caption align="top" style="color: black;font-size: 32px;line-height: 39px;"> Список групп</caption>
		<tr>
			<th border="1" style="border: 1px solid black">
				ID
			</th>
			<th border="1" style="border: 1px solid black">
				ГРУППА
			</th>
			<th border="1" style="border: 1px solid black">
				ЧИСЛЕННОСТЬ
			</th>
			<th border="1" style="border: 1px solid black">
				НАПРАВЛЕНИЕ ПОДГОТОВКИ
			</th>
		</tr>
		@foreach(var group in Model)
		{
			<tr>
				<td border="1" style="border: 1px solid black">@group.Id</td>
				<td border="1" style="border: 1px solid black">@group.Name</td>
				<td border="1" style="border: 1px solid black" align="center">@group.NumberOfStudents</td>
				<td border="1" style="border: 1px solid black">@group.Orientation</td>
			</tr>
		}
	</table>
	</div>