@model IList<DataBase.Storage.Entity.Teacher>

	<h1>Преподаватели:</h1>

	<table>
		<tr>
			<th>
				Фамилия
			</th>
			<th>
				Имя
			</th>
			<th>
				Номер телефона
			</th>
			<th>
				Почта
			</th>
			<th>
				Рабочие часы
			</th>
		</tr>
		@foreach(var teacher in Model)
		{
			<tr>
				<td>@teacher.LastName</td>
				<td>@teacher.Name</td>		
				<td>@teacher.PhoneNumber</td>
				<td>@teacher.Email</td>
				<td>@teacher.Hours</td>
			</tr>
		}
	</table>