@model IList<DataBase.Storage.Entity.Student>

    <img style="position: absolute; width: 18%; height: 19%; left: 1%; top: 2%;" 
		 src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 51%;height: 15%;left: 20%;top: 6%;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 230%;line-height: 115%;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 20%;">
            Студенты
        </button>
    </form>
    <form onclick="https://localhost:7009/Students/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 27%;">
            Группы
        </button>
    </form>
    <form onclick="https://localhost:7009/Group/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 33%;">
            Дисциплины
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 42%;">
            Кафедры
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 49%;">
            Специальности
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 19%; left: 60%;">
            Преподаватели
        </button>
    </form>
    <img style="position: absolute;width: 100%;height: 3%;left: 0%;top: 24%;"
         src="~/Pictures/линии.jpg">

    <table border="1" cellpadding="10" cellspacing="10" style="margin-top: 18%; border: 1% solid black">
        <caption align="top" style="color: black;font-size: 32px;line-height: 39px;"> Список студентов</caption>
        <tr>
            <th border="1" style="border: 1px solid black">
                ID
            </th>
            <th border="1" style="border: 1px solid black">
                ФАМИЛИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                ИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                НОМЕР ТЕЛЕФОНА
            </th>
            <th border="1" style="border: 1px solid black">
                ЭЛ. ПОЧТА
            </th>
        </tr>
        @foreach (var student in Model)
        {
    <tr>
        <td border="1" style="border: 1px solid black">@student.Id</td>
        <td border="1" style="border: 1px solid black">@student.LastName</td>
        <td border="1" style="border: 1px solid black">@student.Name</td>
        <td border="1" style="border: 1px solid black">@student.PhoneNumber</td>
        <td border="1" style="border: 1px solid black">@student.Email</td>

    </tr>}
    </table>
     @using(Html.BeginForm("название метода", "название контроллера", FormMethod.Post))
    {
        <textarea placeholder="Фамилия" style="margin-top: 5%;" cols="15" rows="1" LastName="LastName"></textarea>
        <textarea placeholder="Имя" cols="25" rows="1" Name="Name"></textarea>
        <textarea placeholder="Телефон" cols="15" rows="1" PhoneNumber="PhoneNumber"></textarea>
        <textarea placeholder="Эл. почта" cols="15" rows="1" Email="Email"></textarea>
        <button type="submit">Добавить</button>
    }
    <br>
    @using(Html.BeginForm("Delete", "Students", FormMethod.Post))
    {
        <textarea placeholder="Введите ID" cols="10" rows="1" name="id"></textarea>
        <button type="submit">Удалить</button>
    }
    <br>
    @using(Html.BeginForm("название метода", "название контроллера", FormMethod.Post))
    {
        <textarea placeholder="ID" cols="5" rows="1" ID="ID"></textarea>
        <textarea placeholder="Фамилия" cols="20" rows="1" LastName="LastName"></textarea>
        <textarea placeholder="Имя" cols="20" rows="1" Name="Name"></textarea>
        <textarea placeholder="Телефон" cols="20" rows="1" PhoneNumber="PhoneNumber"></textarea>
        <textarea placeholder="Эл. почта" cols="20" rows="1" Email="Email"></textarea>
        <button type="submit">Редактировать</button>
    }
    <img style="position: absolute;
width: 100%;
height: 3%;
left: 0px; margin-top: 3%" src="~/Pictures/линии.jpg">