@model IList<DataBase.Storage.Entity.Student>

    <img style="position: absolute; width: 235px; height: 150px; left: 28px; top: 15px;"
         src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 688px;height: 102px;left: 270px;top: 40px;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 36px;line-height: 39px;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px;top: 145px; left: 270px;">
            Студенты
        </button>
    </form>
    <form onclick="https://localhost:7009/Students/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px; top: 145px; left:360px;">
            Группы
        </button>
    </form>
    <form onclick="https://localhost:7009/Group/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px; top: 145px; left:437px;">
            Дисциплины
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px; top: 145px; left:552px;">
            Кафедры
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px; top: 145px; left: 639px;">
            Специальности
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 3px; top: 145px; left:772px;">
            Преподаватели
        </button>
    </form>
    <img style="position: absolute;width: 1380px;height: 25px;left: 0px;top: 190px;"
         src="~/Pictures/линии.jpg">
    <h2 style="position: absolute;width: 688px;height: 102px;left: 117px;top: 220px;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 32px;line-height: 39px;">
        СПИСОК СТУДЕНТОВ </h2>

    <table border="1" cellpadding="10" cellspacing="10" style="margin-top: 245px; border: 1px solid black">
        <tr>
            <th border="1" style="border: 1px solid black">
                ID
            </th>
            <th border="1" style="border: 1px solid black">
                ФАМИЛИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                ИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                НОМЕР ТЕЛЕФОНА
            </th>
            <th border="1" style="border: 1px solid black">
                ЭЛ. ПОЧТА
            </th>
        </tr>
        @foreach (var student in Model)
        {
    <tr>
        <td border="1" style="border: 1px solid black">@student.Id</td>
        <td border="1" style="border: 1px solid black">@student.LastName</td>
        <td border="1" style="border: 1px solid black">@student.Name</td>
        <td border="1" style="border: 1px solid black">@student.PhoneNumber</td>
        <td border="1" style="border: 1px solid black">@student.Email</td>

    </tr>}
    </table>
     @using(Html.BeginForm("название метода", "название контроллера", FormMethod.Post))
    {
        <textarea cols="20" rows="1" LastName="LastName"></textarea>
        <textarea cols="20" rows="1" Name="Name"></textarea>
        <textarea cols="20" rows="1" PhoneNumber="PhoneNumber"></textarea>
        <textarea cols="20" rows="1" Email="Email"></textarea>
        <button type="submit">Добавить</button>
    }
    <br>
    @using(Html.BeginForm("Delete", "Students", FormMethod.Post))
    {
        <textarea cols="5" rows="1" name="id"></textarea>
        <button type="submit">Удалить</button>
    }
    <br>
    @using(Html.BeginForm("название метода", "название контроллера", FormMethod.Post))
    {
        <textarea cols="5" rows="1" ID="ID"></textarea>
        <textarea cols="20" rows="1" LastName="LastName"></textarea>
        <textarea cols="20" rows="1" Name="Name"></textarea>
        <textarea cols="20" rows="1" PhoneNumber="PhoneNumber"></textarea>
        <textarea cols="20" rows="1" Email="Email"></textarea>
        <button type="submit">Редактировать</button>
    }
    <img style="position: absolute;
width: 1380px;
height: 25px;
left: 0px; margin-top: 45px" src="~/Pictures/линии.jpg">