@model IList<DataBase.Storage.Entity.Student>

    <img style="position: absolute; width: 18%; height: 23%; left: 1%; top: 2%;" 
		 src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 51%;height: 15%;left: 20%;top: 7%;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 230%;line-height: 115%;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form action="https://localhost:7009/students/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 20%;">
            Студенты
        </button>
    </form>
    <form action="https://localhost:7009/groups/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 27%;">
            Группы
        </button>
    </form>
    <form action="https://localhost:7009/disciplines/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 33%;">
            Дисциплины
        </button>
    </form>
    <form action="https://localhost:7009/departments/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 42%;">
            Кафедры
        </button>
    </form>
    <form action="https://localhost:7009/specialitys/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 49%;">
            Специальности
        </button>
    </form>
    <form action="https://localhost:7009/teachers/main">
        <button style="position: absolute;display: inline-block;background: #2d5f84; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 22%; left: 60%;">
            Преподаватели
        </button>
    </form>
    <form action="https://localhost:7009/students/viewsearch">
        <button style="position: absolute; top: 22%; left: 80%; display: inline-block;background: #2d5f84; color: white;
        padding: 3rem, 1.5rem; text-decoration: none;
        border-radius: 7%;">
        Поиск по студентам 🔍
    </button>
    </form>
       <img style="position: absolute;width: 100%;height: 3%;left: 0%;top: 28%;"
         src="~/Pictures/линии.jpg">
    <div style="position: absolute; top: 33%;">
     <table border="1" cellpadding="10" cellspacing="10" style="border: 1% solid black">

         <form asp-controller="Students" asp-action="SortByLastName">
        <button style="background: #2d5f84; color: white;">
        Сортировка по фамилии ▼
        </button>
        </form>

		<caption align="top" style="color: black;font-size: 32px;line-height: 39px;"> Отсортированный список студентов по ID</caption>
        <tr>
            <th border="1" style="border: 1px solid black">
                ID
            </th>
            <th border="1" style="border: 1px solid black">
                ФАМИЛИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                ИМЯ
            </th>
            <th border="1" style="border: 1px solid black">
                НОМЕР ТЕЛЕФОНА
            </th>
            <th border="1" style="border: 1px solid black">
                ЭЛ. ПОЧТА
            </th>
        </tr>
        @foreach (var student in Model)
        {
    <tr>
        <td border="1" style="border: 1px solid black">@student.Id</td>
        <td border="1" style="border: 1px solid black">@student.LastName</td>
        <td border="1" style="border: 1px solid black">@student.Name</td>
        <td border="1" style="border: 1px solid black">@student.PhoneNumber</td>
        <td border="1" style="border: 1px solid black">@student.Email</td>

    </tr>}
    </table>
  </div> 